@import "../../App.scss";

.footer {
    .footer-content {
        row-gap: 20px;

        .footer-item {
            ul {
                li {
                    margin: 0.7rem 0;
                    opacity: 0.8;
                    transition: $transition;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            &:nth-child(4) {
                ul {
                    li {
                        span {
                            &:first-child {
                                margin-right: 8px;
                            }
                        }
                    }
                }
            }
        }

        .custom-bottom {
            position: absolute;
            bottom: -70px;

        }

        .Custom-Footer {
            margin: 0 0;
            padding: 2px 5px;
            text-align: center;
            background-color: rgba(225, 225, 225, 0.8);
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: center;

            
        }

        @media screen and (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);

            .footer-item {
                text-align: left;
            }
        }

        @media screen and (min-width: 992px) {
            grid-template-columns: repeat(2, 1fr);

            .footer-item {
                text-align: left;
            }
        }

        @media screen and (max-width:576px) {
            grid-template-columns: repeat(2, 1fr);

            .footer-item {
                text-align: left;
            }
        }
    }
}